//
//  Secrets.xcconfig
//  WorKit
//
//  Created by Ethan Donley on 10/10/24.
//
//:configuration = Debug
OPENAI_API_KEY = sk-TzG0Ufez9ZMO7e1ltKvVUA
OPENAI_API_BASE = https://oai.cdonley.com/v1

//:configuration = Release
OPENAI_API_KEY = sk-TzG0Ufez9ZMO7e1ltKvVUA
OPENAI_API_BASE = https://oai.cdonley.com/v1



